.home-topo {
  width: var(--width-max);
  height: 467px;
  /*height: calc()*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interno {
  width: var(--width-max);
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--cor-branco);
}

.home-topo-interno {
  /*Notebook -> 100vw = 1366px
    se elemento tem width: 1138px -> 1138/1366 = 0.833
  */
  /*width: 1138px;*/
  width: calc(0.833 * var(--width-max));
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.direita {
  /*width: 800px; 800/1366 = 0.5856*/
  width: calc(0.5856 * var(--width-max));
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.logo {
  /*width: 200px;*/
  width: calc(0.1389 * var(--width-max));
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.sports {
  width: 50px;
  height: 50px;
}

.logo-texto {
  /*width: 130px;*/
  width: calc(0.09 * var(--width-max));
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-pesquisa {
  /*width: 393px;*/
  width: calc(0.273 * var(--width-max));
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: var(--cor-back-barra);
  border-radius: 20px
}

.barra-pesquisa-texto {
  /*width: 329px;*/
  width: calc(0.228 * var(--width-max));
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--cor-texto-barra);
  font-size: var(--font-size-barra);
  
}

.lupa {
  width: 24px;
  height: 24px;
  margin: 0 0 0 1rem;
}

/*
#btn-home-login {
  width: 182px;
  height: 51px;
  padding: 16px;
  margin: 0 0 0 5rem;
  color: var(--cor-branco);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  border-width: 1px;
  border-style: solid;
  border-color: var(--cor-btn-azul);
  border-radius: 10px;
  background-color: var(--cor-btn-azul);
}
*/
/*
.btn-home-login:hover {
  background-color: var(--cor-btn-transp-hover);
}
*/

.hero {
  width: var(--width-max);
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-texto {
  /*width: 1136px;*/
  width: calc(0.7889 * var(--width-max));
  height: 170px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--cor-branco);
}

.hero-texto h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

.hero-texto h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

/*
#btn-hero {
  width: 182px;
  height: 51px;
  padding: 16px;
  color: var(--cor-branco);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  border-width: 1px;
  border-style: solid;
  border-color: var(--cor-btn-azul);
  border-radius: 10px;
  background-color: var(--cor-btn-azul);
}
*/