/*.body-produtos {
  /*background-color: var(--cor-back-body);
  background-color: rgb(247, 247, 247);
}*/

.produtos-cabecalho {
  background-color: var(--cor-branco);
}

#btn-home-login {
  display: none;
}

.incluir {
  width: calc(0.8316 * var(--width-max));
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
#btn-produtos-adiciona {
  width: 182px;
  height: 51px;
  margin: 0 0 0 0;
  text-align: center;
  color: var(--cor-branco);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  border-width: 1px;
  border-style: solid;
  border-color: var(--cor-btn-azul);
  border-radius: 0px;
  background-color: var(--cor-btn-azul);
}
*/

.produtos-title {
  color: var(--cor-preto);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

.produtos-produtos {
  width: var(--width-max);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 0 0;
}

.linha-produto-topo {
  display: none;
}

